body {
    font-family: "Lato", sans-serif;
  }

  .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:left;
}

.nav ul{
	list-style: none;
	text-align: center;
	padding: 0;
}
.nav li{
	line-height: 40px;
	text-align: left;
}

.nav a{
	border-bottom: 1px;
	padding-left: 15px;
	transition: .3s background-color;
}

.nav li li{
	font-size: 0.8em;
}

.nav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	font-family: inherit;
	margin: 0;
}

  .nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .nav a:hover{
    color: #f1f1f1;
  }
  
  .nav .closebtn {
    position: absolute;
    top: 3px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 360px) {
    .nav {padding-top: 15px;}
    .nav a {font-size: 18px;}
	.nav li {
		width: 130px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		display: inline-block;
		margin-right: -4px;
	  }
	  .nav a{
		  border-bottom: none;
	  }
	  .nav li ul{
		  position: absolute;
		  display: none;
	  }
	  .nav li:hover ul{
		  display: block;
	  }
	  .nav li ul li {
		  display: block;
	  }
  }
